@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div> 
    <table>
        <tr class="header">
            <td><p>Победитель</p></td>
            <td><p>Кол-во ходов</p></td>
            <td><p>Дата</p></td>
        </tr>
        @if (ViewBag.List != null)
        {
            foreach (var b in ViewBag.List)
                {
                <tr>
                    <td><p>@b.winer</p></td>
                    <td><p>@b.countStep</p></td>
                    <td><p>@b.date</p></td>
                </tr>
            }
        }
    </table>

    <p> % побед пользователя (Х) - <b>@ViewBag.Proc</b></p>
</div>